<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title || "Canbas" %></title>

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

</head>

<header class="bg-primary text-white p-3 mb-4">
  <div class="container">
    <h1 class="h2">Canbas</h1>
  </div>
</header>
