*, *::before, *::after {
  box-sizing: border-box;
}

.message-row {
    background-color: var(--light-gray);
    color: var(--steel-blue);
    display: flex;
    justify-content: center;
    border-radius: 0.50em;
    border: 2px solid var(--aero);
    margin: 0.1em;
    padding: 0.25em;
}

.message-content {
    resize: none;
    color: var(--steel-blue);
    display: flex;
    border-radius: 0.25em;
    padding: 0.25em;
    border: 2px solid var(--steel-blue);
    font-size: medium;
    width: 100%;
    transition: border 0.3s ease;
}

.message-content:focus {
    border-color: var(--steel-blue);
    outline: 2px solid var(--soft-grey);
}

.message-button {
  text-decoration: none;
  background: var(--soft-grey);
  border: 1px solid var(--aero);
  color: var(--aero);
  padding: 0.40em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
  margin: 0.1em;
  display: inline-block;
  font-size: inherit; 
}

.message-button:hover,
.message-button:focus-visible {
  background: var(--aero-hover);
  color: var(--aero);
}

.message-board {
    background-color: var(--light-gray);
    color: var(--steel-blue);
    display: flex;
    flex-direction: column;
    border-radius: 0.50em;
    border: 5px solid var(--aero);
    margin: 0.1em;
    padding: 0.25em;
    height: 83vh;
    overflow-y: auto;
}

.message-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.message-list li {
  display: flex;
  color: var(--aero);
  background-color: var(--soft-grey);
  flex-direction: column;
  border: solid 2px var(--aero);
  border-radius: 0.5em;
  width: 50%;
  margin-top: 0.25em;
  padding: 0.5em;
  box-sizing: border-box;
  overflow-wrap: break-word;
  white-space: normal;
}

.message-board-title-wrapper {
  display: flex;
  align-items: center;
}

.message-board-title {
  text-align: center;
  color: var(--aero);
  margin: 0;
}

.message-boards-wrapper {
  display: flex;
  justify-content: center;
  background: var(--soft-grey);
  padding: 0.25em;
  border-radius: 0.5rem;
}

.message-board-list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-board-list li {
  background-color: var(--soft-grey);
  border: 2px solid var(--aero);
  color: var(--aero);
  padding: 0.4em 0.5em;
  border-radius: 0.5em;
  font-size: large;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.message-board-list li:hover,
.message-board-list li:focus-visible {
  background: var(--aero-hover);
  color: var(--aero);
}

.message-boards-modal {
  background: var(--soft-grey);
  border: 2px solid var(--aero);
  padding: 2em;
  border-radius: 0.5em;
  max-width: 95%;
  width: 80%;
  max-height: 75%;
  height: 65%;
  box-shadow: rgba(0,0,0,0.3);
}

.message-boards-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

.inline {
  display:flex;
  gap: 2em;
  overflow: hidden;
}

.user-search {
  color: var(--aero);
  width: 100%;
  max-width: 110px;
  font-size: 1rem;
  border: 2px solid var(--aero);
  border-radius: 6px;
  background-color: var(--white);
  margin-bottom: 1em;
}

.vertical-divider {
  flex: 1 1 50%;
  border-left: 2px solid var(--aero); 
  padding-left: 2em;       

  min-height: 100px;            
}

.user-remove-list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-remove-list li {
  background-color: var(--soft-grey);
  border: 2px solid var(--imperial-red);
  color: var(--imperial-red);
  padding: 0.4em 0.5em;
  border-radius: 0.5em;
  font-size: large;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.user-remove-list li:hover,
.user-remove-list li:focus-visible {
  background: var(--imperial-red-hover);
  color: var(--imperial-red);
}

.user-add-list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-add-list li {
  background-color: var(--soft-grey);
  border: 2px solid var(--aero);
  color: var(--aero);
  padding: 0.4em 0.5em;
  border-radius: 0.5em;
  font-size: large;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.user-add-list li:hover,
.user-add-list li:focus-visible {
  background: var(--aero-hover);
  color: var(--aero);
}

.user-scroll {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 0.5em;
}