<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', {title: "Home Page"}) %>
<body>
  <p>This is the index.</p>
  <a href="/users" class="btn btn-primary">click to go to users</a>
  <a href="/slips/" class="btn btn-danger">click to go to slips</a>
</html>
