<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', {title: "Home Page"}) %>
<body>
  <p>This is the slips.</p>
  <a href="/slips/new" class="btn btn-primary">New Slip</a>
  <a href="/slips/list" class="btn btn-primary">List Slips</a>
  <a href="/slips/map" class="btn btn-primary">Slip Map</a>
</html>
