<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
  <div>
    <ul>
        <% slips.forEach(slip => { %>
          <li><%= slip.name %></li>
        <% }) %>
    </ul>
  </div>
</html>
